<div class="parallax">
  <div id = 'zero-group' class="parallax__group">
    <div  id="first-about" class="parallax__layer parallax__layer--back">
    </div>
    <div  class="parallax__layer parallax__layer--base">
      <div class="title">Добро пожаловать на CANVAS!</div>
    </div>
  </div>
  <div id = "first-group" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">У нас круто</div>
    </div>
  </div>
  <div id = 'third-group' class="parallax__group">
    <div  id="first-about" class="parallax__layer parallax__layer--back">
    </div>
    <div  class="parallax__layer parallax__layer--base">
      <div class="title">Атвичаю</div>
    </div>
  </div>

  <div id = 'third-group' class="parallax__group">
    <div  class="parallax__layer parallax__layer--base">
      <h1>BASE3</h1>
    </div>
  </div>
  <div id = 'fourth-group' class="parallax__group">
    <div  id="second-about" class="parallax__layer parallax__layer--back">
    </div>
    <div  class="parallax__layer parallax__layer--base">
      <h1>BASE2</h1>
    </div>
  </div>
</div>