<div class="parallax">
  <div id='zero-group' class="parallax__group">
    <div id="first-about" class="parallax__layer parallax__layer--back">
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="layer-wrapper" style="width: 65%;   justify-content: center;">
        <div class="canvas-red-logo">CANVAS</div>
        <div style="color:white; font-size: 2em; font-weight:600">ОТКРЫТЫЙ КАТАЛОГ ВСЕХ ФОТОГРАФОВ И ВИДЕОГРАФОВ ГОРОДА</div>
        <div class="social-buttons-block">
          <div class="social-button" id="vk"> </div>
          <div class="social-button" id="facebook"> </div>
          <div class="social-button" id="insta"> </div>
        </div>
      </div>
    </div>
  </div>
  <div id="first-group" class="parallax__group">
    <div class="parallax__layer parallax__layer--base" style="height: 190vh" >
      <div class="layer-wrapper">
        <div class="canvas-instruction-block">CANVAS</div>
        <div class="canvas-second-instruction-block">
          <div class="video-block-stub"><video autoplay loop>
              <source src="http://video.wixstatic.com/video/11062b_64ae2a899006496dac01c2e81fac97f1/1080p/mp4/file.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="detailed-instructions-block"><div class="title">Инструции здесь</div></div>
        </div>
      </div>
    </div>
  </div>
  <!--<div id='third-group' class="parallax__group">-->
    <!--<div id="second-about" class="parallax__layer parallax__layer&#45;&#45;back">-->
    <!--</div>-->
    <!--<div class="parallax__layer parallax__layer&#45;&#45;base">-->
    <!--</div>-->
  <!--</div>-->
</div>