<% content_for(:body_attributes) do %>
    data-no-turbolink="true" style="overflow:hidden"
<% end %>

<section class="scrollable-sections-container">
<%= render partial: 'shared/home_photo_section', locals: {prices: @photo_prices} %>
<%= render partial: 'shared/home_video_section', locals: {prices: @video_prices} %>
</section>



<!-------СКРИПТЫ----------->


<script>
//    $('section').horizon();
    $(".scrollable-sections-container").bind('mousewheel', function(event) {
      if (event.originalEvent.wheelDelta >= 0) {
        $(".scrollable-section").first().toggleClass("active-section", true);
        $(".scrollable-section").last().toggleClass("active-section",false)
      }
      else {
        $(".scrollable-section").first().toggleClass("active-section", false);
        $(".scrollable-section").last().toggleClass("active-section",true)
      }
    });


$(document).ready(function () {

  $(".scrollable-sections-container").on('swipeleft', function (event) {
    $(".scrollable-section").first().toggleClass("active-section", true);
    $(".scrollable-section").last().toggleClass("active-section",false)
  });

  $(".scrollable-sections-container").on('swiperight', function (event) {
    $(".scrollable-section").first().toggleClass("active-section", false);
    $(".scrollable-section").last().toggleClass("active-section",true)
  });
});


</script>

<script>
  var setAndSubmit = function (formId,fieldId,category) {
    $(fieldId).val(category);
    $(formId).submit();
  }
</script>

<script>


  var showPrice = function () {
    $("#photoslide").fadeIn(500);
    $("#videoslide").fadeIn(500);
    return false;
  };

  var showFilter = function () {
    $("#photoslide").fadeOut(500);
    $("#videoslide").fadeOut(500);
    return false;
  };

    $('#btn-showfilters').bind('click', function()
    {
        $("#photoslide").fadeOut(500);
        return false;
    } );

    $('#btn-hidefilters').bind('click', function()
    {
        $("#photoslide").fadeIn(500);
        return false;
    } );

    $('#btn2-showfilters').bind('click', function()
    {
        $("#videoslide").fadeOut(500);
        return false;
    } );

    $('#btn2-hidefilters').bind('click', function()
    {
        $("#videoslide").fadeIn(500);
        return false;
    } );


</script>
