@charset "UTF-8";
@font-face {
  font-family: 'Code Pro Light';
  src: url("/assets/fonts/CodeProLight-ecb741829a98164b1fcae0bedccac09affa31528e1fa9e79eb52643bc056362b.woff");
  font-weight: 400;
  font-style: normal;
}
/* line 9, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
html {
  height: 100%;
}

/* line 16, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Code Pro Light";
}

/* line 23, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
section {
  float: left;
  width: 1600px;
  margin: 0;
  height: 100%;
  min-height: 400px;
}

/* line 31, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
#photohome {
  background: url(mainback.jpg) no-repeat;
  background-size: cover;
}

/* line 37, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
#videohome {
  background: url(number_tu_fon.png) no-repeat;
  background-size: cover;
}

/* line 44, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
header {
  position: fixed;
  font-family: "Code Pro Light";
  font-size: 1.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 0px;
  min-height: 80px;
  max-height: 80px;
  background: white;
  text-transform: uppercase;
  border-bottom: 2px solid gray;
}

/* line 63, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.zaglushka {
  width: 100%;
  top: 0px;
  min-height: 80px;
  max-height: 80px;
  z-index: 0;
}

/* line 72, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
header a {
  text-decoration: none;
  color: black;
}

/* line 77, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
header a:hover {
  -webkit-filter: drop-shadow(2px 2px 2px black);
}

/* line 82, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
header #navmenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 500px;
  flex-grow: 8;
}

/* line 90, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.personal-cabinet {
  height: 60px;
  border: 2px lightgray solid;
  border-radius: 10px;
  padding: 5px;
}

/* line 97, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.personal-cabinet a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 0.7em;
}

/* line 108, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.whitestripe {
  position: absolute;
  width: 100%;
  min-height: 600px;
  background: white;
  margin-top: 300px;
  z-index: 10;
}

/* line 117, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.whitestripe h1 {
  display: block;
  text-align: center;
  font-size: 4em;
  transform: translateY(-30px);
  font-weight: 100;
  margin-bottom: 0px;
}

/* line 125, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.active {
  z-index: 100;
}

/* line 130, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.proba {
  transform: translateY(80px);
  background: url(VIDEVO.png) no-repeat;
  width: 100%;
  height: 750px;
  z-index: 1;
}

/*-------------------------------------------*/
/*SLAIDER*/
/* line 141, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.slider-wrapper {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

/* Ширина лайдера */
/* line 149, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
#slider {
  width: 500px;
}

/* Контейнер слайдера */
/* line 154, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.ui-slider {
  position: relative;
  margin: auto;
  transform: translateY(140px);
}

/* Ползунок */
/* line 161, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 8px;
  /* Задаем нужную ширину */
  height: 30px;
  /* и высоту */
  background: black no-repeat;
  /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
  cursor: pointer;
}

/* line 169, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
/* line 178, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.ui-slider-horizontal {
  height: 2px;
  /* задаем высоту согласно дизайна */
}

/* позиционируем ползунки */
/* line 182, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -13px;
  margin-left: -5px;
}

/* line 186, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

/* line 190, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

/* line 193, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* оформление полосы по которой ходит ползунок */
/* line 197, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.ui-widget-content {
  background: lightgray;
}

/* оформление активного участка (между двумя ползунками) */
/* line 201, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.ui-widget-header {
  background: gray;
}

/* скругление для полосы слайдера */
/* line 206, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.slider-price-cell {
  position: absolute;
  width: 60px;
  font-size: 1.3em;
  top: 20%;
  font-family: "Code Pro Light";
}

/* line 214, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.slider-wrapper span {
  position: absolute;
  width: 200px;
  font-size: 1.4em;
  display: block;
  text-align: center;
  left: 50%;
  top: 10%;
  margin-left: -100px;
}

/* line 226, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.slider-wrapper img {
  display: block;
  width: 80px;
  position: absolute;
  left: 50%;
  bottom: 17%;
  margin-left: -40px;
}

/* line 237, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.cell-min {
  left: 5%;
  border: none;
}

/* line 241, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.cell-max {
  right: 0%;
  border: none;
}

/* line 245, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.btn-search {
  position: absolute;
  display: block;
  border: 1px solid black;
  height: 40px;
  width: 200px;
  bottom: 40%;
  left: 50%;
  margin-left: -120px;
  padding: 5px 20px;
  color: white;
  text-align: center;
  background: black;
  text-decoration: none;
  -webkit-filter: drop-shadow(0 0 2px black);
  transition: 0.5s ease;
  font-size: 1.8em;
}

/* line 264, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.btn-search div {
  padding: 2px;
  border: 1px solid gray;
  border-radius: 5%;
}

/* line 270, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.btn-search:hover {
  background: gray;
}

/* line 276, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
#logo {
  flex-basis: 200px;
  flex-grow: 3;
  background: url(logo_FAJNOL.png) no-repeat;
  background-size: contain;
  width: 200px;
  height: 80px;
  margin-left: 2%;
}

/* line 286, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
#btn-showfilters, #btn-hidefilters, #btn2-showfilters, #btn2-hidefilters {
  position: absolute;
  border: none;
  background: none;
  color: gray;
  width: 180px;
  left: 50%;
  margin-left: -90px;
  bottom: 10%;
  transition: all 0.5s ease;
}

/* line 299, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
#btn-showfilters:hover, #btn-hidefilters:hover, #btn2-showfilters:hover, #btn2-hidefilters:hover {
  -webkit-filter: drop-shadow(0px 0px 1px lightgray);
  text-decoration: underline;
  cursor: pointer;
}

/* line 305, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  height: 400px;
  max-width: 1200px;
  margin: -20px auto;
}

/* line 316, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-box {
  display: block;
  width: 200px;
  height: 200px;
  padding: 5px;
}

/* line 324, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-box span {
  display: block;
  font-size: 1.3em;
  text-align: center;
  margin-top: 5px;
}

/* line 331, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-round {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 lightgray;
  margin: 0 auto;
  overflow: hidden;
}

/* line 341, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-round:hover {
  cursor: pointer;
}

/* line 346, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-round:before {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  background: black;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s ease;
}

/* line 357, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-round:hover::before {
  opacity: 0.75;
}

/* line 363, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(1) .filter-round {
  background: url(Photo_for_filters/1.jpg) no-repeat 100% 50%;
  background-size: cover;
}

/* line 369, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(1) .filter-round:hover::before {
  opacity: 0.75;
}

/* line 374, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(2) .filter-round {
  background: url(Photo_for_filters/2.jpg) no-repeat 50% 50%;
  background-size: cover;
}

/* line 380, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(3) .filter-round {
  background: url(Photo_for_filters/3.jpg) no-repeat 20% 50%;
  background-size: cover;
}

/* line 386, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(4) .filter-round {
  background: url(Photo_for_filters/4.jpg) no-repeat 30% 0%;
  background-size: cover;
}

/* line 392, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(5) .filter-round {
  background: url(Photo_for_filters/5.jpg) no-repeat 30% 0%;
  background-size: cover;
}

/* line 398, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(6) .filter-round {
  background: url(Photo_for_filters/6.jpg) no-repeat 30% 0%;
  background-size: cover;
}

/* line 404, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(7) .filter-round {
  background: url(Photo_for_filters/7.jpg) no-repeat 30% 0%;
  background-size: cover;
}

/* line 409, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(8) .filter-round {
  background: url(Photo_for_filters/8.jpg) no-repeat 30% 0%;
  background-size: cover;
}

/* line 415, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.registration-box {
  border: 2px black solid;
  border-radius: 10px;
  background: lightgray;
  width: 50%;
  margin: 30px auto;
  padding: 20px;
}

/* line 425, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.register_field {
  margin: 20px auto;
  width: 50%;
}

/* line 431, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
#error_explanation {
  width: 50%;
  margin: 20px auto;
  background: lightpink;
}

/* line 438, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.alert {
  width: 50%;
  margin: 20px auto;
  background: lightpink;
  border-radius: 10px;
  padding: 10px;
}

/* line 447, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
.site-container {
  width: 100%;
}

/* line 454, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/custom.scss */
h1 {
  text-align: center;
}
/* line 5, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/portfolio.scss */
.info_and_avatar_block {
  height: 80px;
  background: dimgrey;
  margin-top: 20px;
}

/* line 13, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/portfolio.scss */
.avatar-photo {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  transform: translateY(-10px);
  border-radius: 50%;
  border: 2px solid black;
}

/* line 24, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/portfolio.scss */
.name-surname-block {
  margin-top: 20px;
  height: 100px;
}

/* line 30, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/portfolio.scss */
.name-of-author {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
}

/* line 38, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/portfolio.scss */
.container-for-photos, .container-for-shootings {
  width: 80%;
  padding: 20px;
  background: lightgray;
  margin: 10px auto;
  border-radius: 20px;
  border: 2px gray solid;
}

/* line 47, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/portfolio.scss */
.photo-block {
  display: inline-block;
  border: 2px gray solid;
  width: 100px;
  height: 75px;
}

/* line 54, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/portfolio.scss */
.shooting-block {
  height: 106px;
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}

/* line 62, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/portfolio.scss */
.shooting-description-block {
  height: 100px;
  border: 2px solid white;
  width: 150px;
  display: inline-block;
  text-align: center;
  font-style: bold;
  margin: 0;
}

/* line 73, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/portfolio.scss */
.shooting-photo-block {
  height: 100px;
  border: 2px solid white;
  width: 150px;
  display: inline-block;
  margin: 0;
}

/* line 82, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/portfolio.scss */
.photo-preview {
  display: inline-block;
  border: 2px whitesmoke solid;
  width: 150px;
  height: 100px;
  margin: 0;
}

/* line 90, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/portfolio.scss */
.form-for-new-photo {
  width: 80%;
  margin: 10px auto;
}
/* line 5, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.search-result-item {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: white;
  align-items: center;
  -webkit-filter: drop-shadow(1px 1px 3px lightgray);
}

/* line 16, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.avatar-photo-in-item {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 2px solid black;
}

/* line 27, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.avatar-photo-in-item:hover {
  -webkit-filter: blur(2px);
  -webkit-filter: drop-shadow(1px 1px 3px black);
}

/* line 32, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.photo-in-item {
  display: inline-block;
  height: 150px;
  width: 200px;
  border: 2px solid white;
}

/* line 39, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.about-author-block {
  display: flex;
  align-items: center;
  width: 30%;
  text-align: center;
}

/* line 46, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.center-button-block {
  width: 10%;
  text-align: center;
}

/* line 51, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.photo-examples-block, .form-cells-block {
  display: inline-block;
  width: 35%;
  text-align: center;
}

/* line 57, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.form-cells-block {
  width: 45%;
}

/* line 61, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.catalog-filter-form-box {
  display: flex;
  height: 200px;
  border-bottom: 1px solid lightgray;
  -webkit-filter: drop-shadow(1px 1px 3px lightgray);
  align-items: center;
}

/* line 70, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.catalog-section {
  background: url("mayak-fon.jpg");
  background-size: cover;
  height: 100%;
  margin: 0;
}

/* line 77, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.about-author-block input {
  text-align: center;
  display: inline-block;
}

/* line 81, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.author-info {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

/* line 88, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.catalog-filter-form-box input[type='text'] {
  height: 35px;
  padding: 5px;
  width: 60px;
  border: 2px solid black;
  -webkit-filter: drop-shadow(0px 0px 2px black);
  margin: 20px;
  margin-right: 40px;
  margin-left: 0;
  font-family: Verdana;
}

/* line 103, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.catalog-filter-form-box select {
  height: 50px;
  padding: 5px;
  width: 200px;
  border: 2px solid black;
  -webkit-filter: drop-shadow(0px 0px 2px black);
  margin: 20px;
  margin-left: 0;
  font-family: Verdana;
  margin-right: 40px;
}

/* line 116, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.catalog-filter-form-box input[type='submit'] {
  height: 50px;
  padding: 5px;
  width: 100%;
  border: 2px solid black;
  -webkit-filter: drop-shadow(0px 0px 2px black);
  margin: 20px;
  margin-left: 0;
  font-family: Verdana;
}

/* line 128, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.swap-button {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  height: 50px;
  padding: 5px;
  width: 200px;
  border: 2px solid black;
  -webkit-filter: drop-shadow(0px 0px 2px black);
  margin-left: 0;
  font-family: Verdana;
  background: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  align-items: center;
  box-sizing: border-box;
}

/* line 151, C:/Users/FD/RubymineProjects/Canvas 2/app/assets/stylesheets/static_pages.scss */
.swap-button:after {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  background: url("reload.png");
  background-size: cover;
  right: 10px;
  bottom: 4px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

