@charset "UTF-8";
@font-face {
  font-family: 'Code Pro Light';
  src: url("/assets/fonts/CodeProLight-ecb741829a98164b1fcae0bedccac09affa31528e1fa9e79eb52643bc056362b.woff");
  font-weight: 400;
  font-style: normal;
}
/* line 9, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
html {
  height: 100%;
}

/* line 16, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Code Pro Light";
}

/* line 23, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
section {
  float: left;
  width: 1600px;
  margin: 0;
  height: 100%;
  min-height: 400px;
}

/* line 31, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#photohome {
  background: url(/assets/mainback-b2da175487be35daab9f6ea3b14a32606ae7822ab52cdc133fbd00db80c5583b.jpg) no-repeat;
  background-size: cover;
}

/* line 37, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#videohome {
  background: url(/assets/number_tu_fon-a933651c74d124118af57a83899d323578225f9f59bd13917303a68bf41edea2.png) no-repeat;
  background-size: cover;
}

/* line 44, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
header {
  position: fixed;
  font-family: "Code Pro Light";
  font-size: 1.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 0px;
  min-height: 80px;
  max-height: 80px;
  background: #f8f8f8;
  text-transform: uppercase;
  -webkit-filter: drop-shadow(0px 0px 1px lightgray);
  z-index: 1000;
}

/* line 64, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.zaglushka {
  width: 100%;
  top: 0px;
  min-height: 80px;
  max-height: 80px;
  z-index: 0;
}

/* line 73, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
header a {
  text-decoration: none;
  color: black;
}

/* line 79, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
header a:hover {
  -webkit-filter: drop-shadow(2px 2px 2px black);
}

/* line 84, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
header #navmenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 500px;
  flex-grow: 8;
}

/* line 92, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.personal-cabinet {
  width: 250px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

/* line 100, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.personal-cabinet a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 0.7em;
}

/* line 108, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.header-avatar {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 5px;
}

/* line 116, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.profile-block-header {
  height: 100%;
  width: 130px;
  display: inline-flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
}

/* line 128, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#profile-block-header-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(/assets/arrow-down-911b70af4ba3bb230e45e2a7413c37ec35bc4ce208d9799103d22e92ea8a169e.png) no-repeat;
  background-size: cover;
}

/* line 137, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#profile-block-header-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px black;
}

/* line 143, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#profile-block-header-menu {
  width: 250px;
  bottom: -110px;
  left: 400px;
  position: absolute;
  opacity: 0;
  color: #ffffff;
}

/* line 155, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#profile-block-header-menu a {
  display: block;
  padding: 10px;
  color: #ffffff;
  background-color: rgba(96, 96, 96, 0.5);
  -webkit-filter: drop-shadow(0 0 0 black);
}

/* line 165, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#profile-block-header-menu a:hover {
  display: block;
  background-color: rgba(144, 144, 144, 0.5);
}

/* line 173, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#profile-block-header-button:hover {
  -webkit-filter: drop-shadow(2px 2px 2px black);
}

/* line 178, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#name_header_link {
  display: inline-block;
}

/* line 185, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.whitestripe {
  position: absolute;
  width: 100%;
  min-height: 600px;
  background: white;
  margin-top: 300px;
  z-index: 10;
}

/* line 194, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.whitestripe h1 {
  display: block;
  text-align: center;
  font-size: 4em;
  transform: translateY(-30px);
  font-weight: 100;
  margin-bottom: 0px;
}

/* line 202, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.active {
  z-index: 100;
}

/* line 207, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.proba {
  transform: translateY(80px);
  background: url(/assets/VIDEVO-a6d43c341f0d1176c3f874ad73afa61405877336f53cf6c657cf8f09349374e9.png) no-repeat;
  width: 100%;
  height: 750px;
  z-index: 1;
}

/*-------------------------------------------*/
/*SLAIDER*/
/* line 218, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.slider-wrapper {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

/* Ширина лайдера */
/* line 226, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#slider {
  width: 500px;
}

/* Контейнер слайдера */
/* line 231, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.ui-slider {
  position: relative;
  margin: auto;
  transform: translateY(140px);
}

/* Ползунок */
/* line 238, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 8px;
  /* Задаем нужную ширину */
  height: 30px;
  /* и высоту */
  background: black no-repeat;
  /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
  cursor: pointer;
}

/* line 246, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
/* line 255, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.ui-slider-horizontal {
  height: 2px;
  /* задаем высоту согласно дизайна */
}

/* позиционируем ползунки */
/* line 259, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -13px;
  margin-left: -5px;
}

/* line 263, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

/* line 267, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

/* line 270, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* оформление полосы по которой ходит ползунок */
/* line 274, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.ui-widget-content {
  background: lightgray;
}

/* оформление активного участка (между двумя ползунками) */
/* line 278, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.ui-widget-header {
  background: gray;
}

/* скругление для полосы слайдера */
/* line 283, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.slider-price-cell {
  position: absolute;
  width: 60px;
  font-size: 1.3em;
  top: 20%;
  font-family: "Code Pro Light";
}

/* line 291, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.slider-wrapper span {
  position: absolute;
  width: 200px;
  font-size: 1.4em;
  display: block;
  text-align: center;
  left: 50%;
  top: 10%;
  margin-left: -100px;
}

/* line 303, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.slider-wrapper img {
  display: block;
  width: 80px;
  position: absolute;
  left: 50%;
  bottom: 17%;
  margin-left: -40px;
}

/* line 314, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.cell-min {
  left: 5%;
  border: none;
}

/* line 318, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.cell-max {
  right: 0%;
  border: none;
}

/* line 322, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.btn-search {
  position: absolute;
  display: block;
  border: 1px solid black;
  height: 40px;
  width: 200px;
  bottom: 40%;
  left: 50%;
  margin-left: -120px;
  padding: 5px 20px;
  color: white;
  text-align: center;
  background: black;
  text-decoration: none;
  -webkit-filter: drop-shadow(0 0 2px black);
  transition: 0.5s ease;
  font-size: 1.8em;
}

/* line 341, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.btn-search div {
  padding: 2px;
  border: 1px solid gray;
  border-radius: 5%;
}

/* line 347, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.btn-search:hover {
  background: gray;
}

/* line 353, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#logo {
  flex-basis: 200px;
  flex-grow: 3;
  background: url(/assets/logo_FAJNOL-1b08774f57696f018632af398c8d40d69dce6d4b38ca819e21d01bf5b6e202a1.png) no-repeat;
  background-size: contain;
  width: 200px;
  height: 80px;
  margin-left: 2%;
}

/* line 363, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#btn-showfilters, #btn-hidefilters, #btn2-showfilters, #btn2-hidefilters {
  position: absolute;
  border: none;
  background: none;
  color: gray;
  width: 180px;
  left: 50%;
  margin-left: -90px;
  bottom: 10%;
  transition: all 0.5s ease;
}

/* line 376, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#btn-showfilters:hover, #btn-hidefilters:hover, #btn2-showfilters:hover, #btn2-hidefilters:hover {
  -webkit-filter: drop-shadow(0px 0px 1px lightgray);
  text-decoration: underline;
  cursor: pointer;
}

/* line 382, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  height: 400px;
  max-width: 1200px;
  margin: -20px auto;
}

/* line 393, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-box {
  display: block;
  width: 200px;
  height: 200px;
  padding: 5px;
}

/* line 401, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-box span {
  display: block;
  font-size: 1.3em;
  text-align: center;
  margin-top: 5px;
}

/* line 408, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-round {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 lightgray;
  margin: 0 auto;
  overflow: hidden;
}

/* line 418, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-round:hover {
  cursor: pointer;
}

/* line 423, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-round:before {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  background: black;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s ease;
}

/* line 434, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-round:hover::before {
  opacity: 0.75;
}

/* line 440, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(1) .filter-round {
  background: url(/assets/Photo_for_filters/1-ad3654116f7d9cc01808802ca0470d503b9bd28ed3ffb7fa0c0df684cffb8565.jpg) no-repeat 100% 50%;
  background-size: cover;
}

/* line 446, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(1) .filter-round:hover::before {
  opacity: 0.75;
}

/* line 451, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(2) .filter-round {
  background: url(/assets/Photo_for_filters/2-fcfa4455b41d7ddc905e6253d2c7090075ce098c80f561205eff96299cae71ce.jpg) no-repeat 50% 50%;
  background-size: cover;
}

/* line 457, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(3) .filter-round {
  background: url(/assets/Photo_for_filters/3-953a94a41693e9e7c48d252daf43ee8a298adfe95f2120b835d016c5449c2dfd.jpg) no-repeat 20% 50%;
  background-size: cover;
}

/* line 463, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(4) .filter-round {
  background: url(/assets/Photo_for_filters/4-1e1b30a9ba1d8b3371ee824361788284998d447fcf5165fa0294518954ea2d35.jpg) no-repeat 30% 0%;
  background-size: cover;
}

/* line 469, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(5) .filter-round {
  background: url(/assets/Photo_for_filters/5-0e95323be5c52ea23eade691feb071dbdbcb2352003a9d437af337e687efc11c.jpg) no-repeat 30% 0%;
  background-size: cover;
}

/* line 475, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(6) .filter-round {
  background: url(/assets/Photo_for_filters/6-d04d59cf7783cd9d7eb7794b73c3f488e8066a83f13f350ad660404416549abf.jpg) no-repeat 30% 0%;
  background-size: cover;
}

/* line 481, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(7) .filter-round {
  background: url(/assets/Photo_for_filters/7-39bb35ea1382b87b91999250767c1ca996e9c3c4de64f706ff98a01a398183d8.jpg) no-repeat 30% 0%;
  background-size: cover;
}

/* line 486, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.filter-box:nth-of-type(8) .filter-round {
  background: url(/assets/Photo_for_filters/8-b1239cdd55339fb527aed706abed3ef1cae7125e2b62efbc74e68514b866091e.jpg) no-repeat 30% 0%;
  background-size: cover;
}

/* line 492, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.registration-box {
  border: 2px black solid;
  border-radius: 10px;
  background: lightgray;
  width: 50%;
  margin: 30px auto;
  padding: 20px;
}

/* line 502, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.register_field {
  margin: 20px auto;
  width: 50%;
}

/* line 508, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#error_explanation {
  width: 50%;
  margin: 20px auto;
  background: lightpink;
}

/* line 515, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.alert {
  width: 50%;
  margin: 20px auto;
  background: lightpink;
  border-radius: 10px;
  padding: 10px;
}

/* line 524, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
.site-container {
  width: 100%;
}

/* line 531, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
h1 {
  text-align: center;
}

/* line 535, /home/fd/RubymineProjects/Canvas2/app/assets/stylesheets/custom.scss */
#line-with-logo {
  position: fixed;
  width: 100%;
  height: 80px;
  background-image: url(/assets/canvaslogo-454c0783c01bc38d44344663cdef535fa02dbef90523af5a7a216927b5ff690d.png);
  background-size: 80px 80px;
  background-position: 50% 50%;
  background-color: white;
  background-repeat: no-repeat;
}
