<h1>Portfolio of <%= @portfolio.user.profile.name %></h1>
<div> <%= @portfolio.description %></div>

<h1> Фотосъемка </h1>
<div class = container-for-photos>
  <% @photos.each do |photo| %>
        <%= image_tag( photo.image.thumb.url, class: "photo-block") %>
  <% end %>
</div>
<%= link_to "Редактировать портфолио", edit_portfolio_path %>
