<script>
  var initDropZone = function () {
    var myDropzone = new Dropzone("div#place-for-drop", { url: "/upload_image", paramName: "photo[image]"});
    document.querySelector("div#place-for-drop").classList.add("dropzone");
    myDropzone.on('sending', function(file, xhr, formData){
      formData.append('photo[title]', 'Great Image');
      formData.append('photo[category]', '<%= @category %>');
    });

    myDropzone.on('success', function(file, data){
      alert('.shooting-block#<%= @category %> .slider-container');
      var obj = $(data + '');
      obj.lightcase();
      $('.shooting-block#<%= @category %> .slider-container').slick('slickAdd',obj);
    });
  };
</script>



<div class='form-for-new-photo' id = "add_new_photo">
  <div style="color: white"> Перетащите фаши фотографии в область загрузки или кликните на область для выбора</div>
  <div id="place-for-drop"></div>

</div>

