<footer>
<div class = footer-block id = copyright>Copyright. All right are reserved. CANVAS 2016.</div>
  <div class = footer-block></div>
  <div class = footer-block id = social-buttons></div>

</footer>