<header>
  <div id=logo></div>
  <div id=navmenu>
    <a href = "#">О нас</a>
    <a href = "#">Каталог</a>
    <a href = "#">Контакты</a>
    <div class = "personal-cabinet">
      <% if signed_in? %>
          <%= link_to  current_user.name, current_user %>
          <%= link_to  "Выйти", signout_path, method: "delete" %>
      <% else %>
          <%= link_to  "Войти", signin_path %>
          <%= link_to  "Регистрация", signup_path %>
      <% end %>
    </div>
  </div>
</header>