.simple_button{
  display: block;
  width:75px;
  height:75px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
}

.simple_button:hover{
  cursor: pointer;
}

.button_150_50{
  width:150px;
  height:50px;
}

.button_centered{
  margin: 5px auto;
}

.delete_button{
  display:block;
  width:30px;
  height: 30px;
  box-sizing: border-box;
  border:1px solid black;
  border-radius: 5px;
  background: white image_url('icons/delete_icon.png') no-repeat 50% 50%;
  background-size: cover;
}

.photo_position{
  position: absolute;
  top:5%;
  left:5%;
}

.inline_button{
  display: inline-block;
}

#edit_portfolio_button{
  background: transparent image_url('icons/edit_icon.png') no-repeat 50% 50%;
  background-size: 75%;
}

#done_edit_portfolio_button{
  background: transparent image_url('icons/done_icon.png') no-repeat 50% 50%;
  background-size: 75%;
}

#goToTopBtn{
  width:50px;
  height:50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background: image_url('icons/back_to_top.png') no-repeat 50% 50%;
  background-size: cover;/* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#goToTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}