@import "z-consts";
@media  screen and (max-width: $screen-md-min) {
  .catalog-item-card {
    position: relative;
    width: 300px;
    height: 440px;
    box-sizing: border-box;
    overflow: hidden;

    .catalog-item-card-front-side, .catalog-item-card-back-side {
      position: absolute;
      left: -300px;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 260px;
      height: 400px;
      border: 1px solid black;
      box-sizing: border-box;
      padding: 20px;
      margin: 20px;
      transition: 0.1s;
    }

    .catalog-item-card-front-side {
      justify-content: space-around;
      left: 0;
    }

    .catalog-item-card-back-side {
      justify-content: center;
    }

    .switch-control {
      position: absolute;
      display: none;
      width: 25px;
      height: 40px;
      top: calc(50% - 25px);
      z-index: 10;
      background: white;

      &:hover {
        cursor: pointer;
        filter: drop-shadow(1px 1px 2px darkgray);
      }

      &.switch-control-front {
        background: image-url('icons/back.png') no-repeat 50% 50%;
        background-size: cover;
        left: 5px;
        display: none;
      }

      &.switch-control-back {
        background: image-url('icons/next.png') no-repeat 50% 50%;
        background-size: cover;
        right: 5px;
        display: block;
      }
    }

    &.expanded {
      .catalog-item-card-front-side {
        left: -300px;
      }

      .catalog-item-card-back-side {
        left: 0;
      }
      .switch-control {

        left: 0px;

        &.switch-control-front {
          display: block;
        }

        &.switch-control-back {
          display: none;
        }
      }
    }
  }

  .freewall-container{
    width:100%;
    height: 100%;
  }

  .img-in-freewall{
    display: block;
    height: 100%;
    width: auto;

    min-height: 120px;
    max-width: 220px;
    max-height: 250px;
    margin: 0 auto;
    outline: none;
  }

  .mosaicflow__item{
    position: relative;
    height:100%;
    max-width: 220px;
    margin-right: 5px;
  }

  .catalog-item-card-examples{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid white;
    width:100%;
    height:40%;

  }

}

@media  screen and (min-width: $screen-md-min){

  .catalog-item-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-width: 600px;
    height: 440px;
    border: 2px solid black;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 20px;

    .catalog-item-card-front-side, .catalog-item-card-back-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 400px;
      box-sizing: border-box;
      padding: 20px;
      transition:0.1s;
    }

    .catalog-item-card-front-side {
      position: relative;
      width: 300px;
      justify-content: space-around;
      border-right: 1px black dashed;
    }

    .catalog-item-card-back-side{
      padding: 0;
      position: relative;
      width: calc(100% - 340px);
      overflow-y: auto;
    }

    .switch-control {
      display: none;
    }

    &.expanded{
      .catalog-item-card-front-side {
      }

      .catalog-item-card-back-side {
      }
      .switch-control {
      }
    }

    .catalog-item-card-examples{
      display: flex;
      align-items: center;justify-content: center;
      box-sizing: border-box;
      border: 1px solid white;
      width:100%;
      height:100%;

      .slider-container{
        overflow: hidden;
      }
    }
  }

  .freewall-container{
    flex-grow: 10;
    min-width: 160px;
    flex-basis: 160px;
    position: relative;
    height: 100%;
  }

  .img-in-freewall{
    display: block;
    height: auto;
    width: 100%;
    outline: 1px black solid;
    outline-offset: -1px;
  }
}

.catalog-item-card-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  width:120px;
  height: 120px;
  overflow: hidden;
}

.catalog-item-card-field{
  display: flex;
  align-items: center;
  justify-content: center;
  width:220px;
  height:50px;
  border-bottom: 1px lightgrey solid;
}

.card-item-avatar-img{
  height: 100%;
  width: auto;
  max-width: 100%;
}

.catalog-item-card-price{
  font-size: 1.2em;
  font-weight: 600;
}

.mosaicflow__column {
  float:left;
}
