// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-avatar{
  display: block;
  width:100px;
  height:100px;
}

.comment-user{
  display: block;
  width:100px;
  height:120px;
  text-align: center;
  margin-right: 50px;
  font-style: oblique;
  border:1px gray solid;
}

.comment-body{
  display: inline-flex;
  width:80%;
  height:100px;
  justify-content: center;
  vertical-align: middle;

}

.comment-date{
  display: block;
  width:100px;
  height:80px;
  text-align: center;
  padding: 20px;
}

.comment-block{
  display: flex;
  height: 120px;
  margin:10px;
  border: 2px black dashed;
  vertical-align: middle;
  background: white;
}

.form-for-new-comment{
  display: inline-block;
  width:80%;
  vertical-align: middle;
  background: white;
  height: 120px;
  padding: 10px;
}

.form-for-new-comment input[type = 'text'] {
  width:90%;
  height:60px;
  background: white;
  appearance: none ;
}

.make-inline{
  display: inline-block;
}

.new-comment-block{
  display: flex;
  width: 60%;
  background: white;
  height: 140px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  margin: 10px;
}