@font-face {
  font-family: 'Code Pro Light';
  src:url(asset-path('fonts/CodeProLight.woff'));
  font-weight: 400;
  font-style: normal;
}


html
{
  height:100%;
  min-width: 400px;
  overflow-X: hidden;

}


body
{width:100%;
  height:100%;
  margin:0;
  font-family: "Code Pro Light";
}

section
{float:left;
  width:1600px;
  margin:0;
  height:100%;
  min-height: 400px;
}

#photohome
{
}

#videohome
{
  background:image-url('number_tu_fon.png') no-repeat;
  background-size: cover;
}




.photo-back {
  background:image-url('mainback.jpg') no-repeat;
  background-size: cover;
  width:100%;
  height:300px;
}


.whitestripe
{position: absolute;;
  width:100%;
  min-height:600px;
  background:white;
  z-index:10;
}

.whitestripe h1
{
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  margin-bottom:0px;
  margin-top: 8px;
}

.whitestripe h2
{
  text-align: center;
  font-size: 1em;
  font-weight: 50;
  margin-bottom:0px;
}

.whitestripe form{
  margin:0;
}

.active
{ z-index: 100;
}


.proba
{transform:translateY(80px);
  background:image-url('VIDEVO.png') no-repeat;
  width:100%;
  height:750px;;
  z-index:1;

}

/*-------------------------------------------*/
/*SLAIDER*/
.slider-wrapper
{position:relative;
  width:600px;
  height:400px;
  margin:0 auto;

}
/* Ширина лайдера */
#slider {
  width: 500px;

}
/* Контейнер слайдера */
.ui-slider {
  position:relative;
  margin:auto;
  transform: translateY(50px);

}
/* Ползунок */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 8px;   /* Задаем нужную ширину */
  height: 30px;  /* и высоту */
  background:black no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
  cursor: pointer
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
  height: 2px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
  top: -13px;
  margin-left: -5px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
  background: lightgray;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
  background: gray;
}
/* скругление для полосы слайдера */

.slider-price-cell
{position:absolute;
  width:60px;
  font-size: 1.3em;
  top:5%;
  font-family: "Code Pro Light";
}

.slider-wrapper span
{  position:absolute;
  width:200px;
  font-size: 1.4em;
  display:block;
  text-align: center;
  left: 50%;
  top:10%;
  margin-left: -100px;

}

.slider-wrapper img
{display: block;
  width:80px;
  position:absolute;
  left: 50%;
  bottom:40%;
  margin-left: -40px;

}


.cell-min
{left:5%;
  border:none;
}
.cell-max
{right:0%;
  border:none;
}
.btn-search
{position:absolute;
  display:block;
  border:1px solid black;
  height:50px;
  width:200px;
  top:25%;
  left:50%;
  margin-left:-120px;
  color:white;
  text-align: center;
  background:black;
  text-decoration: none;
  -webkit-filter:drop-shadow(0 0 2px black);
  transition:0.5s ease;
  font-size: 1.5em;
  line-height: 40px;
}

.btn-search div
{padding: 2px;
  border:1px solid gray;
  border-radius: 5%;
}

.btn-search:hover
{
  background: gray;
  cursor: pointer;
}


#btn-showfilters, #btn-hidefilters, #btn2-showfilters, #btn2-hidefilters
{
  position:absolute;
  border:none;
  background:none;
  color:gray;
  width:180px;
  left:50%;
  margin-left:-90px;
  bottom:35%;
  transition:all 0.5s ease;
}

#btn-showfilters:hover,#btn-hidefilters:hover,#btn2-showfilters:hover,#btn2-hidefilters:hover
{
  -webkit-filter:drop-shadow(0px 0px 1px lightgray);
  text-decoration:underline;
  cursor:pointer;
}
.filter-wrapper
{position:relative;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width:80%;
  height:400px;
  max-width: 1200px;
  margin:-20px auto;
}

#flickrItems #filter-item-1
{
  background-image:image-url('Photo_for_filters/1.jpg');
  background-size:cover;
}

#flickrItems #filter-item-2
{
  background-image:image-url('Photo_for_filters/2.jpg');
  background-size:cover;
}

#flickrItems #filter-item-3
{
  background-image:image-url('Photo_for_filters/3.jpg');
  background-size:cover;
}

#flickrItems #filter-item-4
{
  background-image:image-url('Photo_for_filters/4.jpg');
  background-size:cover;
}

#flickrItems #filter-item-5
{
  background-image:image-url('Photo_for_filters/5.jpg');
  background-size:cover;
}

#flickrItems #filter-item-6
{
  background-image:image-url('Photo_for_filters/6.jpg');
  background-size:cover;
}

#flickrItems #filter-item-7
{
  background-image:image-url('Photo_for_filters/7.jpg');
  background-size:cover;
}
#flickrItems #filter-item-8
{
  background-image:image-url('Photo_for_filters/8.jpg');
  background-size:cover;
}

.registration-box
{
  background-color: rgb(62, 63, 66);
  border-radius: 5px;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";

  max-width: 350px;
  min-width: 200px;
  min-height: 400px;
  width:100%;
  height:100%;
  margin: 0 auto;
  filter: drop-shadow(0px 0px 5px black);
}

.registration-box a{
  text-decoration: none;
  color:whitesmoke;
  transition-duration: 200ms;
}

.registration-box a:hover{
  text-decoration: underline;
}

.registration-box-fields-wrapper{
  display: flex;
  min-width: 175px;
  max-width: 350px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.register_field
{
  display: inline-block;
  flex-grow: 2;
  min-width: 175px;
  min-height: 50px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  color: whitesmoke;
  line-height: 50px;
}

.full-row-field{
  flex-grow: 2;
  padding:5px;
  min-height: 60px;
  flex-basis: 350px;
  min-width: 175px;
  box-sizing: border-box;
  text-align: center;
  line-height: 60px;
}

.form-header{
  background: rgb(19, 20, 22);
  min-height: 75px;
  font-weight: bold;
  line-height: 75px;
  color: white;
  border-radius: 5px 5px 0 0;
  margin-bottom: 25px;
}

.form-submit{
  margin-top: 20px;
  margin-bottom: 20px;
}

.registration-box input{
  width:80%;
  margin: 0;
  min-height:40px;
  box-sizing: border-box;
  padding: 5px;
  line-height: 40px;
  font-size: 1.2em;
  border-radius: 5px;
}

.form-submit-btn{

  background: whitesmoke;
  color:rgb(19, 20, 22) ;
  transition: 0.3s;
}

.form-submit-btn:hover {
cursor: pointer;
background: rgb(19, 20, 22);
 color: whitesmoke;
}

.check-box-replace-button{
   border:white 2px solid;
   border-radius: 2px;
   padding: 10px;
  color:whitesmoke;
  box-sizing: border-box;
 }

.check-box-replace-button:hover{
  cursor: pointer;
  text-decoration: underline;
}

.custom-checkbox-checked{
  background:whitesmoke;
  color:black;
}

#error_explanation
{
  width:50%;
  margin: 20px auto;
  background: lightpink;
}

.alert
{
  width:50%;
  margin: 20px auto;
  background: lightpink;
border-radius: 10px;
  padding: 10px;
}

.site-container
{
  width: 100%;
}



h1{
  text-align: center;
}


.spoiler-title:hover {
  cursor: pointer;
}

#flickrItems{
  width: 75%;
  margin:5px auto;
}
