@import "z-consts";

.instructions-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  height:80%;
  flex-wrap: wrap;
}

.instructions-flex-element{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  min-height: 120px;
  flex-basis: 110px;
}

.instructions-flex-picture{
  width:100%;
  height: 100%;
}

.instructions-flex-divider{
  margin: 20px;
  width:40px;
  height:3px;
  background: white;
}

.instructions-flex-description-higher{
  text-align: center;
  position: absolute;
  width:200%;
  left: -50%;
  bottom: -15%;
  color: white;
}

.instructions-flex-description-lower{
  text-align: center;
  position: absolute;
  width:200%;
  left: -50%;
  bottom: -50%;
  color: white;
}

.instructions-flex-description-above{
  text-align: center;
  position: absolute;
  width:200%;
  left: -50%;
  top: -50%;
  color: white;
}

#comp-instruction{
  position: relative;
}

#comp-instruction:after{
  position: absolute;
  content:"";
  background: image_url("logo_FAJNOL.png") no-repeat white 50% 50%;
  background-size: cover;
  width:60%;
  height:50%;
  top:16%;
  left:20%;
}

.two-buttons-adaptive-pane{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: calc(50% - 120px);
  left: calc(50% - 40%);
  width: 80%;

  @media only screen and (max-height: $screen-xsm-min) {
    &{
      flex-direction: row;
      justify-content: space-around;
      bottom: calc(50% - 60px);
    }
  }
}

.flex33{
  font-size: 1.1em;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 33%;
  flex-grow: 1;
  height: 100%;

  @media only screen and (max-width: 1200px) {
    &{
      height: 50%;
    }
  }

}

.rounded_white_picture{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border:rgba(105, 128, 140, 1) 3px solid;
  background-color: white;
}

#customers_picture{
  height: 250px;
  width: 250px;
  background:white image_url("people.webp") no-repeat 50% 50%;
}

#operators_picture{
  background:white image_url("operators.webp") no-repeat 50% 50%;
}

.filled-ul-container li{
  background-color: #2F2E2E;
  color:white;
}


.sixangle-block{
  position: relative;
}
#sixangle-logo{
  width: 350px;
  height: 400px;

  @media only screen and (max-width: $screen-hd-min) {
    &{
      width: 300px;
      height: 350px;
    }
  }
}

#sixangle-logo-after{
  content:"";
  position: absolute;
  top:25%;
  left:10%;
  width:80%;
  height: 50%;
  background: image_url("canvaslogo.png") no-repeat white 50% 50%;
  background-size: cover;
}

.red-instruction{
  margin-bottom: 10px;
  background-color: #B03737;
  color: whitesmoke;
}