$min_width: 500px;
.zaglushka
{
  width:100%;
  top:0px;
  height: 100px;
  z-index: 0;
}

.zaglushka-add{
  display: none;
  height: 50px;
}

header
{
  position: fixed;
  font-family: "Code Pro Light";
  font-size: 1.6em;
  display:flex;
  flex-wrap: wrap;

  width:100%;
  min-width: $min_width;
  top:0px;
  min-height:50px;
  max-height: 100px;
  background:rgb(255,255,255);
  text-transform: uppercase;
  filter:drop-shadow(0px 0px 1px lightgray);
  z-index: 1000;
}


header a
{
  text-decoration: none;
  color:black;
}

header a:hover
{
  filter:drop-shadow(2px 2px 2px black);
}

.header-section{
  display: inline-block;
  flex-grow: 5;
  flex-basis: 150px;
  flex-shrink: 3;
  min-width: 100px;
  height: 100%;
  min-height: 50px;
  line-height: 100px;
  text-align: center;
}

.personal-cabinet
{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;;
  position: relative;
}
.personal-cabinet a
{
  display: block;
  text-decoration: none;
  color:black;
  font-size: 0.7em;
}

.header-avatar
{
  width: 100px;
  max-width:100px;
  max-height:100px;
  min-height: 50px;
  min-width: 50px;
  display: inline-block;
}

.profile-block-header
{
  height:100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;

}

#profile-block-header-button
{
  display: inline-block;
  width:40px;
  height:40px;
  background:image-url('arrow-down.png') no-repeat;
  background-size: cover;
}

#profile-block-header-button:hover
{
  cursor: pointer;
  filter:drop-shadow(0px 0px 2px black);
}

#profile-block-header-menu
{
  top: 100%;
  width:100%;
  left:420px;
  position: absolute;
  opacity: 0;
  color: #ffffff;
  z-index: 101;


}

#profile-block-header-menu a
{
  display: block;
  color: #ffffff;
  background-color: rgba(96,96,96,0.5);
  -webkit-filter:drop-shadow(0 0 0 black);
  height:50px;
  line-height: 50px;

}

#profile-block-header-menu a:hover
{
  display: block;
  background-color: rgba(144,144,144,0.5) ;


}

#profile-block-header-button:hover
{
  -webkit-filter:drop-shadow(2px 2px 2px black);
}

#name_header_link
{
  display: inline-block;
}

#line-with-logo
{
  position: fixed;
  display: none;
  width:100%;
  height:65px;
  background-image: image-url('canvaslogo.png');
  background-size: 65px 65px;
  background-position: 50% 50%;
  background-color: white;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 5px lightgray);
  z-index: 100;
}

#logo
{
  height:100px;
  background:image-url('canvaslogo.png') no-repeat 50% 50%;
  background-size:contain;
}


@media screen and (max-width: 1024px) {
  #logo{
    display: none;
  }
  #line-with-logo{
    display: block;
  }

}

@media screen and (min-width: 736px) and (max-width: 1024px) {

  .header-section, .header-avatar{
    min-height: 75px;
    max-height: 75px;
    font-size: 0.85em;
    line-height:75px;
  }
  .header-avatar{
    width: 75px;
    max-width: 75px;
  }

  #profile-block-header-button{
    width:30px;
    height:30px;
  }

  .zaglushka {
    height: 75px;
  }
}

@media screen and (max-width: 736px) {
  .header-section, .header-avatar{
    flex-basis: 100px;
    min-height: 50px;
    max-height: 50px;
    font-size: 0.6em;
    line-height: 50px;
  }
  .header-avatar{
    width: 50px;
    max-width: 50px;
  }

  #profile-block-header-button{
    width:20px;
    height:20px;
  }

  .zaglushka {
    height: 50px;
  }

  .zaglushka-add{
    display: block;
  }

  #line-with-logo{
    height:50px;
    background-size: 50px 50px;
  }
}
