// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "z-consts";


.portfolio-main-section {
  display: flex;
  width: 100%;
  height: 300px;
  min-height: 300px;
  max-height: 600px;
  background: image_url("subtle_zebra_3d.png") repeat;
  @media only screen and (max-width: $header-critical-size){
    height: 600px;
    flex-wrap: wrap;
  }
}

#switch-buttons-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 10%;
  height: 100%;
  min-width: 10%;
  order: 1;
  @media only screen and (max-width: $header-critical-size){
    order: 3;
    height: 50%;
    flex-grow: 1;
    min-width: 100px;
    width: 20%;
  }
}

#photocamera-button, #videocamera-button {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background: image_url('photo-camera.png') no-repeat;
  background-size: cover;
  opacity: 0.5;
}

#videocamera-button {
  background: image_url('video-camera.png') no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

#photocamera-button:hover, #videocamera-button:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(2px 2px 2px black);
}

#categories_container {
  width: 30%;
  height: 100%;
  order: 2;
  @media only screen and (max-width: $header-critical-size){
    height: 50%;
    flex-grow: 8;
    min-width: 200px;
    width: 80%;
    order: 4;
  }

  @media only screen and (max-width: 520px){
    width: auto;
  }
}

#photo-categories-block {
  float: left;
  width: 50%;
  height: 100%;
  background: rgba(128, 128, 128, 0.5);
}

#video-categories-block {
  float: left;
  width: 50%;
  height: 100%;
  background: rgba(128, 128, 128, 0.5);
}

.link-to-category {
  display: block;
  text-decoration: none;
  color: black;
}

.link-to-category:nth-child(1) {
  margin-top: 20px;
}

.link-to-category:hover {
  -webkit-filter: drop-shadow(2px 2px 2px black);
}

.info_and_avatar_block {
  width: 20%;
  height: 100%;
  min-width: 100px;
  order: 3;
  @media only screen and (max-width: $header-critical-size){
    background: lightgrey;
    height: 50%;
    width: 50%;
    order: 1;
  }
}

.avatar-photo {
  display: block;
  height: 100%;
  width: auto;
  max-width: 120px;
  max-height: 120px;
  margin: 20px auto;
  margin-top: 50px;
  border-radius: 20%;
  border: 2px solid black;
}

.name-surname-block {
  margin-top: 20px;
  height: 100px;
}

#rating-regards-block {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 100%;
  order: 4;
  @media only screen and (max-width: $header-critical-size){
    background: lightgrey;
    height: 50%;
    width: 50%;
    order: 2;
  }
}

.name-of-author {
  display: block;
  margin: 4px auto;
  text-align: center;
  font-size: 0.9em;
}

#contact-and-info-buttons-block {
  width: 100%;
  background: #ffffff;
  height: 120px;
}

#contact-author-button, #show-info-author-button {
  margin: 10px auto;
  width: 200px;
  height: 25px;
  border: 1px solid black;
  background: white;
  padding: 10px;
  text-align: center;
}

#contact-author-button{
  background: #BBFFBB;
}

#contact-author-button:hover, #show-info-author-button:hover {

  cursor: pointer;
  background: #d3d3d3;
}

.moving-block-with-information {
  width: 100%;
  background: white;
  padding: 10px;
  margin-top: 10px;
}

#onButton-clicked-author-block {
  display: block;
}

.one-information-row {
  width: 50%;
  text-align: center;
  margin: 5px auto;
}

.container {
  width: 100%;
  background: image_url('noisy_grid.png') repeat;
  margin: 10px auto;
}

.container-for-adding-shootings {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.photo-block, .video-block {
  display: inline-block;
  border: 2px gray solid;
  width: 100px;
  height: 75px;
}

.shooting-block, .videography-block {
  display: flex;
  min-width: 280px;
  height: 120px;
  width: 80%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  overflow: hidden;
  @media only screen and (min-width: $screen-xsm-min){
    height: 140px;
  }

  @media only screen and (min-width: $screen-sm-min){
    height: 160px;
  }

  @media only screen and (min-width: $screen-md-min){
    height: 180px;
  }

  @media only screen and (min-width: $screen-lg-min){
    height: 200px;
  }
}

.shooting-description-block, .videography-description-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 100px;
  box-sizing: border-box;
  min-height: 120px;
  height: 100%;
  min-width: 120px;
  max-width: 250px;
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
  $red-randomize: random() * 255;
  $green-randomize: random() * 255;
  $blue-randomize: random() * 255;
  background-color: rgba($red-randomize, $green-randomize, $blue-randomize, 0.2);
}

.shooting-description-block-inner {
  box-sizing: border-box;
  background: rgba(150, 150, 150, 0.5);
  width: 90%;
  margin: 0 auto;
  height: 90%;
  min-height: 208px;
  border-radius: 10px;
  border: 15px solid white;
}

.scrollable-content-block {
  display: inline-block;
  overflow: hidden;
  height: 250px;

}

.shooting-photo-block, .videography-video-block {
  height: 100px;
  border: 2px solid white;
  width: 150px;
  display: inline-block;
  margin: 0;
}

.photo-preview, .video-preview {
  display: inline-block;
  margin: 0;
  max-width: 250px;
  max-height: 250px;
  width: auto;
  height: auto;
}

.form-for-new-photo, .form-for-new-video {
  width: 80%;
  margin: 10px auto;
}

.form-for-new-video{
  height: 300px;
}

.shooting-add-block, .shooting-existed-block {
  text-align: center;
  min-height: 150px;
  height: 80%;
  border: 2px solid white;
  width: 80%;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
  background: white image-url('plus.png') no-repeat;
  background-position: center;
  background-size: 50% auto;
  text-decoration: none;
  color: black;
  vertical-align: top;
}

.shooting-existed-block {
  background-image: none;
}

.form-for-shooting-add-block {
  display: block;
  min-height: 150px;
  height: 80%;
  width: 10%;
  margin: 0;
  text-align: center;
}

#comments {
  display: block;
  width: 100%;
}

.track {
  flex-grow: 10;
  min-width: 160px;
  flex-basis: 160px;
  position: relative;
  height: 100%;

}

.view-port {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.silverlight-item {
  position: absolute;
  width: 160px;
  height: 120px;
  margin-right: 8px;

  @media only screen and (min-width: $screen-xsm-min){
    height: 140px;
    width: 180px;
  }

  @media only screen and (min-width: $screen-sm-min){
    height: 160px;
    width: 210px;
  }

  @media only screen and (min-width: $screen-md-min){
    height: 180px;
    width: 240px;
  }

  @media only screen and (min-width: $screen-lg-min){
    height: 200px;
    width: 265px;
  }
}

.slick-list.draggable, .slick-track{
  height:100%;
}

.video_plugin_container{
  position: relative;
  height:100%;
  width:100%;
  max-width: 220px;
  margin-right: 5px;
}

.image_plugin_container {
  position: relative;
  height:100%;
  margin-right: 5px;
}

.image_in_freewall_container {
}

.img-in-gallery {
  display: block;
  height: 100%;
  width: auto;

  min-height: 120px;
  max-width: 100%;
  max-height: 250px;
  margin: 0 auto;
}

.track a.prev,
.track a.next {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  width: 64px;
  height: 64px;
  background: image-url("arrows.png");
  background-repeat: no-repeat;
}

.track a.prev.disabled,
.track a.next.disabled {
  display: none;
}

.track a.prev {
  left: 0;
  background-position: 0 0;
}

.track a.prev:hover {
  background-position: 0 -66px;
}

.track a.prev:active {
  background-position: 0 -132px;
}

.track a.next {
  right: 0;
  background-position: -64px 0;
}

.track a.next:hover {
  background-position: -64px -132px;
}

.track a.next:active {
  background-position: -64px -198px;
}

.spoiler-title {
  background-color: lightyellow;
  height: 75px;
  line-height: 75px;
}

.spoiler-title h1 {
  margin: 0;
}

.spoiler-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}