@import "consts";

.filter-and-controls-section{
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  min-height: 200px;
  min-width: $min_width;
  width: 100%;
  height: 100%;
}

.filter-section-back-step, .filter-section-next-step{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  min-height: 80px;
  flex-basis: 80px;
  height: 100%;
  flex-grow: 1;
}

.filter-section-back-step-button, .filter-section-next-step-button{
  width:50px;
  height: 50px;
  transition: 0.1s;
}

.filter-section-back-step-button:hover, .filter-section-next-step-button:hover {
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px black);
}

.filter-section-back-step-button{
  background: image_url("icons/back.png") no-repeat 50% 50%;
  background-size: cover;
}

.filter-section-next-step-button{
  background: image_url("icons/next.png") no-repeat 50% 50%;
  background-size: cover;
}


.filter-section{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-width: calc(#{$filter_size} * 3 + 30px);
  min-height: 200px;
  max-width: 720px;
  flex-basis: 400px;
  flex-grow: 6;
  margin: 0 auto;
  height: 100%;
}

.filter-section-item{
  display: block;
  width: $filter_size;
  height: $filter_size;
  margin: 5px;
  //transition: 0.5s;
  perspective: 1000px;
}

.filter-section-item:hover .filter-section-item-flipper, .filter-section-item.hover .filter-section-item-flipper{
  transform: rotateY(180deg);
}

.filter-section-item-flipper {
  height: 100%;
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.filter-section-item-flipper-front{
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.filter-section-item-flipper-back{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #aaaaaa;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.filter-section-item:hover{
  cursor: pointer;
}

//// 996 - 1200
//@media (max-height: 990px) {
//  .filter-section-item{
//    width: 160px;
//    height: 160px;
//  }
//
//  //.transparent-block300{
//  //  height: 280px;
//  //}
//}
//
//@media screen and (max-height: 900px), screen and (max-width: 940px) {
//  .filter-section-item{
//    width: 150px;
//    height: 150px;
//  }
//}
//
//@media (max-height: 840px) {
//
//  //.transparent-block300{
//  //  height: 200px;
//  //}
//}
//
//@media screen and (max-height: 800px), screen and (max-width: 880px) {
//
//  .filter-section-item{
//    width: 140px;
//    height: 140px;
//  }
//}
//
//@media (max-height: 760px) {
//
//  //.transparent-block300{
//  //  height: 120px;
//  //}
//}
//
//@media screen and (max-height: 550px), screen and (max-width: 830px)  {
//
//  .filter-section-item{
//    width: 120px;
//    height: 120px;
//  }
//}