// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.parallax {
  perspective: 1px;
  height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: auto;
  background: image-url('cute_bengal.jpg');
  background-size: cover;
}

.parallax::-webkit-scrollbar{
  display: none;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);

}

.parallax__layer--back {

  transform: translateZ(-1px) scale(2);
  width: 100vw;

}

.layer-wrapper{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.canvas-red-logo{
  background: darkred;
  color: white;
  font-weight: 800;
  font-size: 8em;
  margin-bottom: 20px;
}

.canvas-instruction-block{
  height: 50%;
  width: 100%;
  background: image-url('about_photo.webp') no-repeat;
  background-size: cover;
}

.canvas-second-instruction-block{
  display: flex;
  height: 60%;
  width: 100%;
}

.video-block-stub{
  height: 100%;
  width: 40%;
  overflow: hidden;
}

.detailed-instructions-block{
  height: 100%;
  width: 70%;
}


.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax_small_group {
  position: relative;
  height: 25vh;
  transform-style: preserve-3d;
}

#first-about
{
  background: image-url('black-fon.jpg') no-repeat;
  background-size: cover;
}

#second-about
{
  background: image-url('flock-of-birds.jpg') no-repeat;
  background-size: cover;
}

#first-group{
  z-index: 5;
}

#second-group{
  z-index: 4;
}

#third-group{
  z-index: 3;
}

.title
{width:60%;
  vertical-align: middle;
  line-height: 200px;
  height: 200px;
text-align: center;
  margin: 20% auto;
  color:white;
  font-size: 3em;
  font-style: bold;
  border: 4px solid white;
  -webkit-filter:drop-shadow(0px 0px 2px white);
}