// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.parallax {
  perspective: 1px;
  height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: auto;
  background: image-url('parralax-2.jpg');
  background-size: cover;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);

}

.parallax__layer--back {

  transform: translateZ(-1px) scale(2);
  width: 100vw;

}

.layer-wrapper{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.canvas-red-logo{
  background: darkred;
  color: white;
  font-weight: 800;
  font-size: 8em;
  margin-bottom: 20px;
}

.canvas-instruction-block{
  box-sizing: border-box;
  padding: 20px;
  height: 45%;
  width: 100%;
  background: image-url('about_photo.webp') no-repeat;
  background-size: cover;
}

.center-80-wrapper{
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.canvas-second-instruction-block{
  display: flex;
  height: 45%;
  width: 100%;
}

.in-parallax-footer{
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  min-height: 80px;
  background-color: rgba(47, 46, 46, 1);
  color: white;
}

.video-block-stub{
  display: flex;
  justify-content: center;
  align-items: center;
  background: image-url('parralax-video.jpg') no-repeat 45% 20%;
  height: 100%;
  width: 35%;
  overflow: hidden;
}

.detailed-instructions-block{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 65%;
}


.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax_small_group {
  position: relative;
  height: 25vh;
  transform-style: preserve-3d;
}

#first-about
{
  background: image-url('parralax-1.jpg') no-repeat;
  background-size: cover;
}

#second-about
{
  background: image-url('flock-of-birds.jpg') no-repeat;
  background-size: cover;
}

#first-group{
  z-index: 5;
}

#second-group{
  z-index: 4;
}

#third-group{
  z-index: 3;
}

.title {
  width:80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  margin: 10% auto;
  color: #FC8B8B;
  max-height: 8em;
  font-size: 3em;
  font-weight: 600;
  border: 4px solid white;
  -webkit-filter:drop-shadow(0px 0px 2px white);
}

#go-to-catalog-box{
  border: darkgray 2px solid;
  display: none;
  position: absolute;
  width:300px;
  height: 200px;
  top: -120%;
  left:calc(50% - 150px);
  background: white;
  z-index: 2000;
  text-align: center;
  line-height: 200px;
  color:black;
  font-size: 20px;
  text-decoration: none;
}

#go-to-catalog-box:hover{
  cursor: pointer;
  border: black 2px solid;
}

.pagination-block{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  height:50px;
}

.pagination{
  *{
    margin: 0 2px;
  }
}

