// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-result-item
{
  height: 130px;
  border-bottom:1px solid lightgray;
  display: flex;
  justify-content: space-around;
  padding:10px;
  background: rgba(255,255,255,1);
  align-items: center;
  -webkit-filter:drop-shadow(1px 1px 3px lightgray);
}

.search-result-item:nth-child(2n)
{
  background: rgb(232,232,232) ;
}


.avatar-photo-in-item
{
  display: block;
  height:80px;
  width:80px;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 30%;
  border:2px solid black;
}

.avatar-photo-in-item:hover
{  -webkit-filter:blur(2px);
  -webkit-filter:drop-shadow(1px 1px 3px black);
}

.photo-in-item{
  display: inline-block;
  height: 120px;
  width: 200px;
  border: 2px solid white;
}

.about-author-block
{display: flex;
  align-items: center;
  width:20%;
  text-align: center;
}

.center-button-block{
  width:10%;
  text-align: center;
}

.photo-examples-block
{display: inline-flex;
  width:40%;
  align-items: center;
  justify-content: space-around;
}

.form-cells-block{
  width:45%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.top-filter-catalog-section
{
  width:100%;
  background: #ffffff;
  margin: 0px;
  margin-bottom: 20px;
}

.top-filter-catalog-block{
  width:90%;
  display: flex;
  border: 4px dotted gray;
  margin: 0px auto;
  background: #ffffff;
}

.catalog-filter-form-box
{
  display: flex;
  height:200px;
  border-bottom:1px solid lightgray;
  align-items: center;
}

.catalog-section, .videocatalog-section{
  background:#000000;
  background-size: cover;
  height: 100%;
  margin:0;
}

.videocatalog-section{
  background:image-url('forest-fon.jpg');
}

#logo-div
{
  width:170px;
  height:80px;
  margin-top: 10px ;
  background:image-url("canvaslogo.png");
  background-size: cover;
  background-position: center;
}

.about-author-block input
{  text-align: center;
  display: inline-block;
}
.author-info
{
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.catalog-filter-form-box input[type = 'text']
{
  -webkit-appearance: none;
  -webkit-user-select: none;
  outline: none;
  height: 35px;
  padding: 5px;
  width:40px;
  margin:20px;
  margin-right: 10px;
  margin-left: 0;
  font-family: 'Code Pro Light';;
  font-size: 1em;
  border: none;
}

.catalog-filter-form-box select
{
  -webkit-appearance: none;
  -webkit-user-select: none;
  outline: none;
  height: 50px;
  padding: 5px;
  width:100px;
  margin:20px;
  margin-left: 0;
  font-family: 'Code Pro Light';
  font-size: 1em;
  margin-right: 40px;
  border: none;
}

.catalog-filter-form-box input[type = 'submit']
{
  -webkit-appearance: none;
  -webkit-user-select: none;
  height: 35px;
  padding: 5px;
  width:80%;
  border:2px solid black;
  -webkit-filter:drop-shadow(0px 0px 2px black);
  margin: 20px auto;
  font-family: 'Code Pro Light';;
  font-size: 1em;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;

}

.catalog-filter-form-box input[type = 'submit']:hover{
  cursor: pointer;
  background: #d3d3d3;
  color:#000000;
  transition:0.5s;
}

.swap-button
{display: inline-block;
  position: relative;
  text-decoration: none;
  color:inherit;
  height: 50px;
  padding: 5px;
  width:100px;
  margin-left: 0;
  background: white;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  cursor: pointer;
  align-items: flex-start;
  line-height: 40px;

}

.swap-button:after
{position: absolute;
  content: '';
  height: 30px;
  width:30px;
  background:image-url("reload.png");
  background-size: cover;
  right: 10px;
  bottom:8px;
}

.swap-button:hover{
  cursor: pointer;
  transition:0.5s;
  background: lightgray;
}

.swap-button:hover:after{
  transition:1s;
  transform: rotate(-360deg);

}


.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  background-color: rgba(255,255,255,0.2);
  transform: translateZ(0);

}

.parallax__layer--back {

  transform: translateZ(-1px) scale(2);

}


.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

#first-about
{
  background: image-url('maxresdefault.jpg');
}

#second-about
{
  background: image-url('home.jpg');
}

#first-group{
  z-index: 5;
}

#second-group{
  z-index: 4;
}

.title
{width:60%;
  vertical-align: middle;
  line-height: 200px;
  height: 200px;
text-align: center;
  margin: 20% auto;
  color:white;
  font-size: 3em;
  font-style: bold;
  border: 4px solid white;
  -webkit-filter:drop-shadow(0px 0px 2px white);
}