.tab_item{
  display: none;
}

.tab_item_fade{
  opacity:0.5;
  pointer-events: none;
}

.active_tab{
   display: block;
 }

.active_tab_fade{
  opacity:1;
  pointer-events: auto;
}

.active_tab_button{
  opacity: 1 !important;
}