$header-height: 80px;
$footer_height: 80px;
$header-mini-height: 60px;
$standard-font-size: 10px;
$header-critical-size: 768px;
$min_width: 320px;
$filter_size: 90px;
$screen-xsm-min: 481px;
$screen-sm-min: 735px;
$screen-md-min: 959px;
$screen-lg-min: 1200px;
$size-of-stub: 30%;
$size-of-stripe: 70%;



@media only screen and (min-width: $screen-xsm-min){
  body{
    font-size: 0.8em;
  }
  .transparent-block300{
  }
  .whitestripe{
  }

  header{

    .menu-button{
    }

    .header-avatar{
    }

    #profile-block-menu{
    }

    .menu {
    }
  }

  .zaglushka{
  }
}

@media only screen and (min-width: 599px) {
  body{
    font-size: 0.75em;
  }
  .filter-section-item{
    width: 100px;
    height: 100px;
  }
}


@media only screen and (min-width: $screen-sm-min) {
  body{
    font-size: 0.8em;
  }
  .filter-section-item{
    width: 120px;
    height: 120px;
  }
}

@media only screen and (min-width: $screen-md-min) {
  body{
    font-size: 0.9em;
  }
  .filter-section-item{
    width: 140px;
    height: 140px;
  }
}

@media only screen and (min-width: $screen-lg-min) {
  body{
    font-size: 0.9em;
  }
  .filter-section-item{
    width: 150px;
    height: 150px;
  }
}




@media only screen and (max-height: $screen-xsm-min){
  .transparent-block300{
    height: 0%;
  }
  .whitestripe{
    height: 100%;
  }

  header{
    height: $header-mini-height;

    .menu-button{
      margin: calc((#{$header-mini-height} - 35px)/2)  20px;
    }

    .header-avatar{
      max-width: $header-mini-height;
      max-height: $header-mini-height;
    }

    #profile-block-menu{
      top: $header-mini-height;
    }
    @media only screen and (max-width: $header-critical-size) {
      .menu {
        top: $header-mini-height;
      }
    }
  }

  .zaglushka{
    height: $header-mini-height;
  }
}


@media only screen and (min-height: 600px){
  .transparent-block300{
    height: 30%;
  }
  .whitestripe{
    height: 70%;
  }

  header{
    height: $header-height;

    .menu-button{
      margin: calc((#{$header-height} - 35px)/2)  20px;
    }

    .header-avatar{
      max-width: $header-height;
      max-height: $header-height;
    }

    #profile-block-menu{
      top: $header-height;
    }
    @media only screen and (max-width: $header-critical-size) {
      .menu {
        top: $header-height;
      }
    }
  }

  .zaglushka{
    height: $header-height;
  }
}

