<!DOCTYPE html>
<html>
<head>
  <title>Canvas2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  $(document).click(function(event) {
    var text = $(event.target).text();
  });
</script>
<%= yield %>
</body>
</html>