<p>Добро пожаловать <%= @email %>!</p>

<p>Для завершения регистрации подтвердите ваш email по ссылки ниже, пожалуйста:</p>

<p><%= link_to 'Завершить регистрацию', confirmation_url(@resource, confirmation_token: @token) %></p>
